body {
  background-color: ivory;
  color: #5a4a40;
}

h1 {
  color: #9a3c19;
}

a {
  color: coral;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:visited {
  color: #c58d76;
}

pre,
pre[class*='language-'] {
  margin-bottom: 3rem;
}

code,
code[class*='language-'] {
  font-family: 'Fira Mono', monospace;
}
