body {
  background-color: ivory;
}

a {
  color: coral;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:visited {
  color: palevioletred;
}

pre, pre[class*="language-"] {
  margin-bottom: 3rem;
}

code, code[class*="language-"] {
  font-family: 'Fira Mono', monospace;
}